body {
    margin: 0;
    background: url("../background-1.svg");
    color: #fff;
    font-family: 'Raleway';
}
.wrapper {
    position: fixed;
    height: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    z-index: 999;
}
nav {
    background-color: rgba(0, 0, 0, 0.774);
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 8px #16161688;
}
nav ul {
    margin: 0 auto;
    transition: 0.5s;
    text-align: center;
}
.logo {
    font-family: 'Fredoka One';
    color: #F6CFBC;
    margin-top: 1px;
    margin-left: 30px;
    font-size: 30pt;
    float: left;
    text-shadow: 6px 8px 6px #491C1C;
}
nav ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}
nav ul li a {
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Segoe UI';
    color: #fff;
    text-shadow: 6px 8px 6px rgba(27, 26, 26, 0.562);
    transition: 0.5s;
}
nav ul li a:hover {
    margin: 50px;
    transition: 0.5s;
}
nav ul li:hover {
    background: rgba(255, 251, 0, 0.63);
    transition: 0.5s;
}
.login:hover {
    background: rgba(43, 255, 0, 0.623);
    transition: 0.5s;
}
.regist:hover {
    background: rgba(0, 174, 255, 0.596);
    transition: 0.5s;
}
/* END OF NAVBAR */

.h1 {
    font-family: 'Blenda Script';
    font-size: 48pt;
    text-align: center;
    text-shadow: 6px 8px 12px rgba(31, 29, 29, 0.692);
}
.button {
    background-color: rgba(0, 255, 8, 0.507);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: rgb(255, 253, 253) 1px solid;
    border-radius: 5px;
    transition: 0,2s;
}
.button:hover {
    border-color: black;
    background-color: rgba(2, 0, 0, 0.514);
    transition: 0.2s;
}
#register {
    background-color: rgba(0, 0, 0, 0.281);
    text-align: left;
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 8px #16161688;
    display: none;
    z-index: 0;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
    from { bottom:-20px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
@keyframes animatebottom { 
    from{ bottom:-20px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.form {
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}
#message {
    color: white;
    text-shadow: 0 0 12px #000;
    text-align: center;
    /* margin-bottom: 10px; */
}
.tombol {
    text-align: right;
    margin-right: 20%;
    margin-bottom: 20px;
}
.input {
    margin-top: 2px;
    margin-bottom: 10px;
    width: 220px;
}

/* REGISTER */
#map{
    /* display: none; */
    margin-left: 15%;
    height: 250px;
    width: 400px;
}
#regist {
    z-index: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.281);
    text-align: left;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 8px #16161688;
    display: none;
}