html, body {
    padding: 0;
    margin: 0;
    background: url("../../image/deposit.svg");
    color: white;
    font-family: 'Hobo Std';
}
.h1 {
    font-family: 'Blenda Script';
    font-size: 40pt;
    text-align: center;
}
